data_new_raw/

data_new/

0.png
1.png
2.png
3.png

d0.png
d1.png
d2.png
d3.png

plot.py
run-Unet-2020-07-24-14-35-41-BERLIN-tag-Loss_train.csv
run-Unet-2020-07-24-14-35-41-BERLIN-tag-Loss_validation.csv

test_static.py

u0.png
u1.png
u2.png
u3.png
u4.png

.idea/

__pycache__/

runs/